<div class="w-full">
  <ul class="m-0 p-0 list-none flex flex-col gap-3 mt-2 pr-1">
    <li class="bg-neutral-900 border border-neutral-700/50 rounded-2xl p-3 shadow-sm">
      <div class="flex items-center">
        <p-skeleton shape="circle" size="3rem" class="mr-4 bg-main-800/10!" />
        <div class="self-center flex flex-col gap-2" style="flex: 1">
          <p-skeleton width="60%" height="0.8rem" class="bg-main-800/10!" />
          <p-skeleton width="40%" height="0.6rem" class="bg-main-800/10!" />
        </div>
      </div>
    </li>
    <li class="bg-neutral-900 border border-neutral-700/50 rounded-2xl p-3 shadow-sm">
      <div class="flex items-center">
        <p-skeleton shape="circle" size="3rem" class="mr-4 bg-main-800/10!" />
        <div class="self-center flex flex-col gap-2" style="flex: 1">
          <p-skeleton width="50%" height="0.8rem" class="bg-main-800/10!" />
          <p-skeleton width="30%" height="0.6rem" class="bg-main-800/10!" />
        </div>
      </div>
    </li>
    <li class="bg-neutral-900 border border-neutral-700/50 rounded-2xl p-3 shadow-sm">
      <div class="flex items-center">
        <p-skeleton shape="circle" size="3rem" class="mr-4 bg-main-800/10!" />
        <div class="self-center flex flex-col gap-2" style="flex: 1">
          <p-skeleton width="70%" height="0.8rem" class="bg-main-800/10!" />
          <p-skeleton width="45%" height="0.6rem" class="bg-main-800/10!" />
        </div>
      </div>
    </li>
    <li class="bg-neutral-900 border border-neutral-700/50 rounded-2xl p-3 shadow-sm">
      <div class="flex items-center">
        <p-skeleton shape="circle" size="3rem" class="mr-4 bg-main-800/10!" />
        <div class="self-center flex flex-col gap-2" style="flex: 1">
          <p-skeleton width="55%" height="0.8rem" class="bg-main-800/10!" />
          <p-skeleton width="35%" height="0.6rem" class="bg-main-800/10!" />
        </div>
      </div>
    </li>
  </ul>
</div>
