<article
  class="bg-neutral-900/80 backdrop-blur-xl border border-neutral-700/50 rounded-3xl p-5 shadow-2xl flex flex-col gap-4 mb-6"
>
  <!-- Header Skeleton -->
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-3 w-full">
      <!-- Avatar -->
      <p-skeleton shape="circle" size="2.5rem" class="bg-main-800/10!" />

      <!-- User Info -->
      <div class="flex flex-col gap-2">
        <p-skeleton width="8rem" height="0.8rem" class="bg-main-800/10!" />
        <div class="flex items-center gap-1.5">
          <p-skeleton width="3rem" height="0.5rem" class="bg-main-800/10!" />
          <p-skeleton shape="circle" size="0.25rem" class="bg-main-800/10!" />
          <p-skeleton width="4rem" height="0.5rem" class="bg-main-800/10!" />
        </div>
      </div>
    </div>

    <!-- More Options -->
    <p-skeleton width="1.5rem" height="1.5rem" class="bg-main-800/10!" />
  </div>

  <!-- Media Skeleton -->
  <div class="w-full mt-2 rounded-2xl overflow-hidden shadow-sm">
    <p-skeleton width="100%" height="300px" class="bg-main-800/10!" />
  </div>

  <!-- Body Text Skeleton -->
  <div class="flex flex-col gap-2.5 mt-2">
    <p-skeleton width="100%" height="0.6rem" class="bg-main-800/10!" />
    <p-skeleton width="90%" height="0.6rem" class="bg-main-800/10!" />
    <p-skeleton width="65%" height="0.6rem" class="bg-main-800/10!" />
  </div>

  <!-- Footer Actions Skeleton -->
  <div class="flex justify-between items-center pt-3 mt-1">
    <div class="flex items-center gap-6">
      <!-- Like Skeleton -->
      <div class="flex items-center gap-2">
        <p-skeleton shape="circle" size="1.25rem" class="bg-main-800/10!" />
        <p-skeleton width="1.5rem" height="0.6rem" class="bg-main-800/10!" />
      </div>

      <!-- Comment Skeleton -->
      <div class="flex items-center gap-2">
        <p-skeleton shape="circle" size="1.25rem" class="bg-main-800/10!" />
        <p-skeleton width="1.5rem" height="0.6rem" class="bg-main-800/10!" />
      </div>

      <!-- Share Skeleton -->
      <div class="flex items-center gap-2">
        <p-skeleton shape="circle" size="1.25rem" class="bg-main-800/10!" />
        <p-skeleton width="1.5rem" height="0.6rem" class="bg-main-800/10!" />
      </div>
    </div>

    <!-- Bookmark Skeleton -->
    <p-skeleton shape="circle" size="1.25rem" class="bg-main-800/10!" />
  </div>
</article>
